.container{
  display: flex;
  justify-content: center;

}
#myForm{
width: 600px;
border: 1px solid black;
border-radius: 15px;
}
.labels{
  display: block;
  margin: 0.8rem 0 0 2rem;
  font-size: large;

}
select,h2,textarea{
  margin-left: 2rem;
  width: 85%;
}
.inputs{
  width: 85%;
  margin-left: 2rem;
  height: 30px;
}
#button{
  display: block;
  width: 100px;
  height: 40px;
  margin: 1rem 0 1rem 2rem;
  border-radius: 15px;
  background-color: rgb(76, 245, 39);

}